<input type="text" [(ngModel)]="title"> {{ title }}

<input type="text" [(ngModel)]="power"> {{ power | exponential }}

<div *ngIf="title === 'karl'">
    esto es un div
</div>

<div [ngSwitch]="title">
    <p *ngSwitchCase="'karl'">este es karl</p>
    <p *ngSwitchCase="'pedro'">este es pedro</p>
    <p *ngSwitchCase="'miguel'">este es miguel</p>
    <p *ngSwitchDefault>no hay match</p>
</div>

<button (click)="addItem()">Add item</button>

<ul>
    <li *ngIf="items.length === 0">No hay elementos</li>
    <li *ngFor="let name of items; index as i">
        {{ name }} {{ i }}
        <button (click)="deleteItem(i)">delete</button>
    </li>
</ul>